.browse-books-container {
  display: flex;
  flex-direction: column;
  background: url('../assets/browsbooks.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

.dashboard {
  width: 200px;
  margin-right: 20px;
  padding: 20px;
  background-color: rgba(128, 162, 226, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Adjusted for space below the dashboard */
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pdf-books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  flex: 1;
}

.pdf-book-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form {
  display: flex;
  flex-direction: column;
  margin-top: 0; /* Adjusted to align at the top */
  margin-left: 20px; /* Adjusted to add some space from the left */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form input,
.upload-form button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.upload-form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #45a049;
}

.pdf-preview {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
