/* styles/BrowseBooks.css */

.browse-books-container {
    padding: 20px;
    color: #333;
    background-image: url('../assets/browsbooks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: min-content;
  }

  .browse-books-container h1, .browse-books-container h2 {
    text-align: center;
    color: #070707;
  }

  .pdf-books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .pdf-book-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .pdf-book-card embed {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .pdf-preview {
    margin-top: 20px;
    text-align: center;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input[type="file"] {
    margin-bottom: 10px;
  }

  form button {
    padding: 10px 20px;
    background-color: #10115a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  form button:hover {
    opacity: 0.8;
  }
