/* LandingPage.css */
.landing-container {
    height: 100vh; /* Ensures the container fits exactly the height of the viewport */
    width: 100vw; /* Ensures the container fits exactly the width of the viewport */
    background-image: url('../assets/bookhav.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensures the background image does not repeat */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    text-align: left;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    box-sizing: border-box; /* Includes padding in the width and height calculations */
    overflow-x: hidden; /* Prevents horizontal overflow explicitly */
    margin: 0; /* Resets any default margin */
}

.welcome-message {
    font-size: 24px;
    margin-top: 20px; /* Adjust spacing from the top */
}

.welcome-message h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px; /* Adds spacing below the heading */
}

.welcome-message p {
    font-size: 20px;
    line-height: 1.5; /* Enhances readability with appropriate line height */
}
