.app-background {
    background-image: url('../assets/bookhav.jpg');
    background-size: cover;
    background-position: center;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
